<div id='action'>
  <h2><%= @action.title %></h2>
  
  <span id='author'>Created by <%= @action.user.email %></span>
  
  <% authorized?("edit actions", @project) do %>
    <%= link_to "Edit Action", [:edit, @project, @action] %>
  <% end %>
  
  <% authorized?("delete actions", @project) do %>
	  <%= link_to "Delete Action", [@project, @action], method: :delete,
	  data: { confirm: "Are you sure you want to delete this action?"} %>
	<% end %>
	<%= simple_format(@action.description) %>
</div>