<div id='action'>
  <h2><%= @action.title %></h2>
    
  <% authorized?("edit actions", @project) do %>
    <%= link_to "Edit Action", [:edit, @project, @action] %>
  <% end %>
  
  <% authorized?("delete actions", @project) do %>
	  <%= link_to "Delete Action", [@project, @action], method: :delete,
	  data: { confirm: "Are you sure you want to delete this action?"} %>
	<% end %>
	<%= simple_format(@action.description) %>
  <div id="author">Created by <%= @action.user.email %></div>

  <% if @action.asset.present? %>
    <h3>Attached File</h3>
    <div class="asset">
      <p>
        <%= link_to File.basename(@action.asset.path),
                     @action.asset.url %>
      </p>
      <p><small><%= number_to_human_size(@action.asset.size) %>
       </small></p>
    </div>
  <% end %>

</div>